.act{
    width: 100%;
    position: fixed;
    background-color: transparent;
    transition: 0.3s linear;
    z-index: 40;
}

.hid{
    width: 100%;
    z-index: 40;
    position: fixed;
    background-color: #13151b;
    transition: 0.3s linear;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.navbar{
    font-size: large;
}

.logo{
    height: 63px;
}

.nav-link{
    margin-left: 10px;
}

.nav-link:hover{
    color: orange;
    border-bottom: 1px solid orange;
    transition: 0.3s;
}